node_modules
.git
.gitignore
*.md
.env
.env.local
.env.*.local

back_end/venv
back_end/__pycache__
back_end/**/__pycache__
back_end/.pytest_cache
back_end/data
back_end/*.pyc

**/.DS_Store
**/Thumbs.db

*.sql
*.env

